body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.sncf-nav {
    background-color: #002244;
    padding: 0 20px;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-menu > li {
    position: relative;
}

.main-menu a {
    display: block;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    transition: background 0.3s;
}

.main-menu > li > a:hover {
    background-color: #003366;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    list-style: none;
    padding: 0;
    z-index: 10;
}

.submenu li a {
    color: #333;
    padding: 12px 20px;
    border-bottom: 1px solid #eee;
}

.submenu li a:hover {
    background-color: #f1f1f1;
    color: #002244;
}

.dropdown:hover .submenu {
    display: block; 
}

.content {
    text-align: center;
    margin-top: 100px;
    color: #444;
}