html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

table {
    width: 100vw; 
    height: 100vh; 
    border-collapse: collapse;
    table-layout: fixed; 
}

td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

.left-box {
    background-color: #C1C986;
    width: 80%;
}

.right-box {
    background-color: #F8C3AF;
    width: 20%;
}

@media (max-width: 600px) {
    .left-box, .right-box {
        display: block;
        width: 100%;
        height: 50%;
    }
}